[submodule "protobuf-javascript"]
	path = protobuf-javascript
	url = https://github.com/kzolti/protobuf-javascript.git
[submodule "protobuf"]
	path = protobuf
	url = https://github.com/protocolbuffers/protobuf.git
